# You can use mkdocs from nix, by running the following:
#
#   nix-shell -p mkdocs
#
# that should pop you into a shell, where you can then
# run
#
#   mkdocs serve
#
# and point your browser to localhost:8000
#
site_name: Alternative Haskell Infrastructure for Nixpkgs
theme: readthedocs
site_url: null
repo_url: https://github.com/input-output-hk/haskell.nix
permalink: true
markdown_extensions:
  - admonition
  - toc:
      permalink: true

# this is called `nav` in more recent mkdocs versions. Mine
# right now is 0.17.5
pages:
  - 'Introduction': index.md
  - 'Architecture': architecture.md
  - 'User Guide':
    - 'General': user-guide.md
    - 'Creating Nix builds for your projects': user-guide/projects.md
    - 'Stack Projects': user-guide/stack-projects.md
    - 'Cabal Projects': user-guide/cabal-projects.md
    - 'How to create a development environment': user-guide/development.md
    - 'How to cross-compile your project': user-guide/cross-compilation.md
  - 'Reference':
    - 'Command-line tools': reference/commands.md
    - 'Haskell.nix Libary': reference/library.md
    - 'Module options': reference/modules.md
  - 'Templates / Abstraction':
    - 'IOHKs nix library': iohk-nix.md
  - 'Dev Notes':
    - 'Architecture': dev/dev-architecture.md
    - 'Removing withPackage wrapper': dev/removing-with-package-wrapper.md
    - 'Maintainer Scripts': dev/maintainer-scripts.md
    - 'Nixpkgs Pin': dev/nixpkgs-pin.md
  - 'ChangeLog': changelog.md
