name: "Run tests with ghc8107"
on:
  pull_request:
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v15
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: "Run tests with ghc8107: Running the nix-build tests..."
        run: "./test/tests.sh ghc8107 nix-build"
      - name: "Run tests with ghc8107: Running the unit tests..."
        run: "./test/tests.sh ghc8107 unit-tests"
      - name: "Run tests with ghc8107: Checking that a nix-shell works for runghc..."
        run: "./test/tests.sh ghc8107 runghc"
      - name: "Run tests with ghc8107: Checking that a nix-shell works for cabal..."
        run: "./test/tests.sh ghc8107 cabal"
      - name: "Run tests with ghc8107: Checking that a nix-shell works for cabal (doExactConfig component)..."
        run: "./test/tests.sh ghc8107 cabal-doExactConfig"
      - name: "Run tests with ghc8107: Checking that a nix-shell works for a project with test-suite build-tools and benchmarks..."
        run: "./test/tests.sh ghc8107 tests-benchmarks"
      - name: "Run tests with ghc8107: Checking that a nix-shell works for a multi-target project..."
        run: "./test/tests.sh ghc8107 multi-target"
      - name: "Run tests with ghc8107: Checking shellFor works for a cabal project, multiple packages..."
        run: "./test/tests.sh ghc8107 shellFor-single-package"
      - name: "Run tests with ghc8107: Checking shellFor works for a cabal project, single package...y"
        run: "./test/tests.sh ghc8107 shellFor-multiple-package"
      - name: "Run tests with ghc8107: Checking shellFor works for a cabal project, single package..."
        run: "./test/tests.sh ghc8107 shellFor-hoogle"
      - name: "Run tests with ghc8107: Checking shellFor does not depend on given packages...y"
        run: "./test/tests.sh ghc8107 shellFor-not-depends"
      - name: "Run tests with ghc8107: Checking the maintainer scripts...y"
        run: "./test/tests.sh ghc8107 maintainer-scripts"
      - name: "Run tests with ghc8107: Checking that plan construction works with extra Hackages..."
        run: "./test/tests.sh ghc8107 plan-extra-hackages"
      - name: "Run tests with ghc8107: Checking that package with extra Hackages can be build..."
        run: "./test/tests.sh ghc8107 build-extra-hackages"
      - name: "Run tests with ghc8107: End-2-end test of hix project initialization and flakes development shell ..."
        run: "./test/tests.sh ghc8107 hix"
      - name: "Check that jobset will evaluate in Hydra at ifdLevel 0 and 1"
        run: |
          nix-build build.nix -A maintainer-scripts.check-hydra -o check-hydra.sh
          ./check-hydra.sh --arg ifdLevel 0
          ./check-hydra.sh --arg ifdLevel 1
      - name: "Check that jobset will evaluate in Hydra at ifdLevel 2"
        run: |
          nix-build build.nix -A maintainer-scripts.check-hydra -o check-hydra.sh
          ./check-hydra.sh --arg ifdLevel 2
      - name: "Check that jobset will evaluate in Hydra at ifdLevel 3 and ghc 8.10"
        run: |
          nix-build build.nix -A maintainer-scripts.check-hydra -o check-hydra.sh
          './check-hydra.sh --arg ifdLevel 3 --arg include ''x: __substring 0 6 x == "ghc810"'''
      - name: "Check that jobset will evaluate in Hydra at ifdLevel 3 and ghc 9.2"
        run: |
          nix-build build.nix -A maintainer-scripts.check-hydra -o check-hydra.sh
          './check-hydra.sh --arg ifdLevel 3 --arg include ''x: __substring 0 5 x == "ghc92"'''
      - name: "Check that jobset will evaluate in Hydra at ifdLevel 3 and not (ghc 8.10 or ghc 9.2)"
        run: |
          nix-build build.nix -A maintainer-scripts.check-hydra -o check-hydra.sh
          './check-hydra.sh --arg ifdLevel 3 --arg include ''x: !(__substring 0 6 x == "ghc810" || __substring 0 5 x == "ghc92")'''
      - name: "Check closure size with ghc8107"
        run: |
          nix-build build.nix -A maintainer-scripts.check-closure-size --argstr compiler-nix-name ghc8107 -o check-closure-size.sh
          echo "+++ Closure size (MB)"
          ./check-closure-size.sh
      - name: "Update docs"
        run: |
          nix-build build.nix -A maintainer-scripts.update-docs -o update-docs.sh
          ./update-docs.sh
      - name: "Make sure materialize function does not limit concurrency"
        run: |
          nix-build build.nix -A maintainer-scripts.check-materialization-concurrency -o check-materialization-concurrency.sh
          ./check-materialization-concurrency.sh
      - name: "Make sure non store paths like can be used as src"
        run: |
          nix-build build.nix -A maintainer-scripts.check-path-support --argstr compiler-nix-name ghc8107 -o check-path-support.sh
          ./check-path-support.sh
      - name: "Check that the haskell.nix roots do not require IFDs"
        run: nix build .#roots.x86_64-linux --accept-flake-config --option allow-import-from-derivation false
      - name: "Check that evaluation of hydra jobs works without using remote builders"
        run: nix-instantiate release.nix -A required-unstable-ghc8107-x86_64-darwin-native --show-trace --builders ''
      - name: "Check hix -- run github:haskell/cabal/3.8#cabal-install:exe:cabal -- --version"
        run: "HIX_DIR=$(mktemp -d) nix run .#hix --accept-flake-config -- run github:haskell/cabal/3.8#cabal-install:exe:cabal --accept-flake-config --override-input haskellNix . -- --version"
      - name: "nix-tools build"
        run: cd ./nix-tools && .buildkite/nix-tools-build.sh
